body {
  background-color: grey;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: black;
  padding: 0;
  margin-top: 10px;
  font-size: 44px;
}

h2 {
  color: white;
  float: left;
  position: absolute;
  /* border: solid 1px red; */
  margin-top: 0px;
  padding-left: 10px;
}

h3 {
  padding-top: 0px;
  margin-top: 30px;
  color: black;
  float: left;
  margin-left: 50px;
}

h4 {
  padding: 5px;
  margin: 0;
  color: black;
  font-size: 18px;
}

.program {
  text-align: center;
  position: relative;
  font-size: 15px;
}

.ctn {
  text-align: center;
}

#undergrad {
  position: relative;
  border: solid 2px black;
  padding: 7px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  background-color: #63831d;
  color: orange;
  font-size: 1em;
}

#major {
  position: relative;
  border: solid 2px black;
  padding: 7px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  width: 80px;
  background-color: #63831d;
  color: orange;
  font-size: 1em;
}

#minor {
  position: relative;
  border: solid 2px black;
  padding: 7px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  width: 80px;
  background-color: #63831d;
  color: orange;
  font-size: 1em;
}

#undergrad:hover {
  background: white;
  color: #63831d;
  cursor: pointer;
}

#major:hover {
  background: white;
  color: #63831d;
  cursor: pointer;
}

#minor:hover {
  background: white;
  color: #63831d;
  cursor: pointer;
}

#etw-drop {
padding: 0;
float: left;
margin: 10px;
}


table, th, td {
  border: solid 2px green;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border-color: #606060;
  background-color: #63831d;
  color: orange;
}

table {
  border: solid 2px black;
  border-width: medium;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

th {
  font-size: 20px;
  border-width: medium;
}

select {
  width: 200px;
}

.total-need {
  /* margin-top: 10px; */
  margin-right: 200px;
  float: right;
  font-size: 16px;
  position: relative;
  font-weight: bold;
  color: white;
}

.total-earn {
  margin-top: 10px;
  margin-right: 200px;
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: white;
}


/* tables */
.theme {
  margin-bottom: 30px;
}

/* Totals calculation */

.totals {
  color: white;
  font-size: 1.2em;
  padding-bottom: 20px;
}

.tot-earn {
  font-size: 1.7em;
  margin: 0;
}

.tot-need {
  font-size: 1.7em;
  margin: 0;
}

.concentration {
  margin-left: : 50px;
  padding: 0;
}

.Business-analytics {
  padding: 0;
  margin: 0;
}

#sub-button {
  width: 300px;
  border: solid 2px black;
  padding: 7px;
  border-radius: 5px;
  background-color: #63831d;
  color: orange;
  font-size: 1.2em;
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;
}

#sub-button:hover {
  background: white;
  color: #63831d;
  cursor: pointer;
}

div:first-child {
  /* border: solid 1px red; */
  padding-bottom: 50px;
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Slabo 27px', serif;
}
